p {
    color: dimgray; text-decoration: underline;
    background-color: white;
}

body {
    font: 16px "Futura";
}

h3 {
    border-top: 1px solid gray;
    color: #3D3C3A;
    background-color: white;
}
